.youtubeCard{
    width: 300px;
    height: 260px;
    transition: all 0.5s;
    padding: 1vmax;
    margin: 2vmax;
    border: 2px solid;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.466);
    background-color: transparent;
}
.youtubeCard a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.712);
    width: 100%;
}
.youtubeCard img{
    width: inherit;
    border: 1px solid transparent;
    border-radius: 5px;
    height: 200px;
}
.youtubeCard:hover{
    transform: scale(1.2);
    box-shadow: 0 0 100px rgba(222, 130, 130, 0.466);
}

@media screen and (max-width:600px){
    .youtubeCard{
        width: 250px;
    }
}